<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="pickFile()">Pick File</ion-button>
    @if (result(); as r) {
      <pre>
      @for (item of r.files; track $index) {
        <code>{{prettyFile(item) | json}}</code>      
      }
    </pre>
    }
    @if (error(); as err) {
      <pre class="error">
        <code>{{err | json}}</code>
        <code>{{err.message}}</code>
      </pre>
    }
  </div>
</ion-content>
